In [8]:
# To get you started, copy and run these commands one by one.
# See what happens, can you predict the outcome of each code before running it?

In [6]:
# Example 1
print("Hello")

Hello

In [12]:
# Example 2
solution = 20
print(solution)
print("solution")

20
solution

In [14]:
# Example 3
solution = 20
solution = solution + 10
print(solution)

30

In [16]:
# Copy and paste these commands one by one.
# You will obtain a different error type in each. Why are these errors taking place?

In [18]:
# Example 1
# Runtime error
a = 10
printed(a)

NameError: name 'printed' is not defined

In [20]:
# Example 2
# Syntax error
number 1 = 20

SyntaxError: invalid syntax (1871512352.py, line 2)

In [22]:
# Example 3
# Semantic error
a = 10
b = 20
print("The sum of these two numbers is", a - b)

The sum of these two numbers is -10

In [24]:
# Try to solve these exercises. One possible solution is given at the end of the file.
# Take in consideration that this is only one possible solution and all the exercises can be solved with different approaches.

In [36]:
# Exercise 1: Define 2 variables with the values 10 and 20. Show their product.
a = 10
b = 20
print(a * b)

200

In [38]:
# Exercise 2: Given a positive number, print its last digit.
a = 203
solution = a%10
print(solution)

3

In [40]:
# Exercise 3: Check this formula to transform Fahrenheit degrees to Celsius:
# Celsius = ((Fahrenheit - 32) x 5 )/9
# Build a script to receive the amount of Fahrenheit degrees and transform this value to Celsius degree.
f = input("Type the amount of Fahrenheit degrees, please ")
f = float(f)
c = (f-32)*5/9
print("The amount of Celsius degrees for the given value is", c)

Type the amount of Fahrenheit degrees, please  120

The amount of Celsius degrees for the given value is 48.888888888888886

In [42]:
# Try to solve these exercises. One possible solution is given at the end of the file.
# Take in consideration that this is only one possible solution and all the exercises can be solved with different approaches.

In [54]:
# Exercise 1: Given a date with this format "11:59:02, June 7th", extract the minutes.
example = "11:59:02, June 7th"
sol = example[3:5]
print("The minute in this date is", sol)

The minute in this date is 59

In [56]:
# Exercise 2: Given 2 strings, show the number of characters (symbols, digits, etc included) in the longest string.
# Spaces should not be counted!
a = "this is the first example"
b = "nothing"
length_a = len(a) - a.count(" ")
length_b = len(b) - b.count(" ")
answer = max(length_a, length_b)
print("The longest string has",answer,"characters in total")

The longest string has 21 characters in total

In [58]:
# Exercise 3: Given 3 flight codes with this aspect, check how many flights start in Madrid.
# f1 = "MAD-BCN"
# f2 = "MAD-LON"
# f3 = "LIS-MAD"
f1 = "MAD-BCN"
f2 = "MAD-LON"
f3 = "LIS-MAD"
total = f1+f2+f3
solution = total.count("MAD-")
print("There are", solution, "flights starting in Madrid")

There are 2 flights starting in Madrid

In [60]:
# Try to solve these exercises. One possible solution is given at the end of the file.
# Take in consideration that this is only one possible solution and all the exercises can be solved with different approaches.

In [62]:
# Exercise 1: Given a numerical variable, print a message explaining if the value is negative, positive or zero.
a = -234
if a == 0:
	print("The value is zero")
elif a >0:
	print("The value is positive")
else:
	print("The value is negative")

The value is negative

In [64]:
# Exercise 2: Ask for a name to the user. Show "Congrats" if the first character is an "A".
name = input("Give a name")
name = name.lower().strip()
first = name[0]
if first == "a":
	print("Congrats")
else:
	print("The first character given is not A")

Give a name magi

The first character given is not A

In [66]:
# Exercise 3: Ask for a name to the user. Show "Congrats" if the first character is a vowel.
name = input("Give a name")
name = name.lower().strip()
first = name[0]
if first in ["a","e","i","o","u"]:
	print("Congrats")
else:
	print("The first character given is not a vowel")

Give a name magi

The first character given is not a vowel

In [68]:
# Try to solve these exercises. One possible solution is given at the end of the file.
# Take in consideration that this is only one possible solution and all the exercises can be solved with different approaches.

In [70]:
# Exercise 1: Given a lot of client's balances in a Bank office, show a message every time that you identify a negative balance.
balances = [-120,2300,-40, 120, 1000, 80]
for number in balances:
	if number < 0:
		print("Negative balance identified!!")

Negative balance identified!!
Negative balance identified!!

In [72]:
# Exercise 2: Given a lot of ages in a list for a lot of clients (we can assume that all the values are positive), show how many clients are adults (greater than 18 in Spain).
clients = [24,12,34,54,80,15]
adult = 0
for age in clients:
	if age >= 18:
		adult = adult + 1
print("There are",adult,"adults in this group")

There are 4 adults in this group

In [74]:
# Exercise 3: Ask for names until the user says "Pablo".
name = input("Please, say a name")
name = name.lower().strip()
while name != "pablo":
	name = input("Please, say a name")
	name = name.lower().strip()
print("Ok. You typed Pablo")

Please, say a name pablo

Ok. You typed Pablo